.git
.tools
**/node_modules
**/dist
**/target
!flower-shop-backend-java/target
!flower-shop-backend-java/target/flower-shop-backend-java-1.0.0.jar
**/*.log
**/*.err
**/.DS_Store
**/tsconfig.tsbuildinfo
tmp
tmp/releases
flower-shop-backend-java/uploads
*.zip
*.zip:Zone.Identifier
